<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farsitel.bazaar.auth">

    <application>
        <receiver android:name="com.farsitel.bazaar.auth.receiver.AuthReceiver">
            <intent-filter>
                <action android:name="com.farsitel.bazaar.lastAccountRes" />
            </intent-filter>
        </receiver>
        <activity android:name=".view.BazaarInstallerActivity" />
    </application>
</manifest>
